.heading-title-link {
  font-size: 60px;
  line-height: 94px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  text-decoration: none;
  color: #000000;
  font-family: MyriadPro;
  font-family: "Roboto";
}
.heading {
  margin: 30px 0px 20px 100px;
}
.heading-title-link--decoration {
  color: cornflowerblue;
  font-family: "Roboto";
}
.top-menu__nav-item a{
  color: white;
}
.top-menu__nav-list {
  padding: 0px;

  display: flex;
  justify-content: center;
}
.top-menu__nav {
  text-align: center;
}
.top-menu__nav-item {
  width: 260px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 24px;
  display: inline-block;
  text-align: center;
  border-left: 1px solid white;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 10px;
}
.top-menu {
  margin: 20px 100px;
  padding: 10px;
  background: #35444f;
  padding: 0px;
}

.side-right,
.side-left {
  float: left;
  background: white;
  border: 1px solid black;
  padding: 90px;
  margin-right: 80px;
  width: 557px;
}
.about-us-content__img {
  width: 200px;
  height: 240px;
  margin-left: 190px;
  display: block;
  margin: 0 auto;
}
.side-left {
  display: block;
  background: white;
  width: 300px;
  margin-left: 100px;
  margin-right: 80px;
  padding: 0px 80px 0px 20px;
  
}
.bn {
  display: inline-block;
  width: 200px;
  height: 17px;
}
.about-us-content__links--decoration {
  list-style-type: none;
  font-family: "Roboto";
  font-size: 40px;
  display: inline-block;
  padding: 10px 50px 30px 0px;
  width: 400px;
  height: 17px;
  margin: 0px 20px 10px 0px;
}
.about-us-content__links--decoration a,
a {
  text-decoration: none;
  color: black;
}
.about-us-content__links {
  margin: 10px 80px 0px 0px;
}
.side-right {
  padding: 90px 140px 90px 120px;
}
.about-us-content-top-text--decoration {
  font-family: Roboto;
  width: 800px;
  display: block;
  justify-content: center;
  font-size: 17px;
  line-height: 24px;
}
.top-text-footer {
  flex-grow: 1;
  flex-basis: 590px;
  box-sizing: border-box;
}

.about-us-content-top-text {
  display: flex;
  text-align: left;
 
  width: 820px;
  
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 580px;
  font-size: 17px;
  line-height: 24px;
  font-family: Roboto;
  color: #2c2c2c;
}
.about-us-content-middle-text {
  width: 820px;
  display: flex;
  text-align: left;
  margin-top: 20px;
  margin-left: 580px;
  margin-right: 0px;
  font-size: 17px;
  font-family: Roboto;
  color: #2c2c2c;
}

.bottom-menu__nav-list {
  display: flex;
  padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    align-items: center;
    height: 50px;
}
.bottom-menu__nav-item {
  text-decoration: none;
  font-family: Roboto;
  font-size: 24px;
  display: inline-block;
  text-align: center;
}

.bottom-menu {
  margin-top: 40px;
  background: rgba(99, 105, 110, 0.48);
  margin: 30px 50px;
  padding: 10px;
  margin-left: 100px;
  width: 1280px;
  margin-top: 40px;
    height: 40px;
}
.bottom-menu__nav {
  height: 30px;
  padding-right: 30px;
  padding-left: 0px;
  width: 1000px;
}
.bottom-menu__nav-item {
  padding: 10px;
  padding-top: 4px;
  
}
.footer-right-text {
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 24px;
  display: flex;
align-items: center;
  margin-bottom: 40px;
  margin-top: 0px;
 align-items: flex-end;
 padding-top: 30px;
    padding-left: 45px;
    margin-left: 0px;
}

